Data are found at: https://www.kaggle.com/cityofLA/los-angeles-parking-citations

Additional tools: https://pypi.org/project/uszipcode/

Kaggle API token: {"key":""}

Total number of rows in dataset: 9477528. Look at the last 1,000,000 rows

In [ ]:
# - run once to have on your local machine
# - API token key is in my kaggle file
# - 

!kaggle datasets download -d cityofLA/los-angeles-parking-citations

In [5]:
import pandas as pd
import uszipcode
from pyproj import transform
import numpy as np
from googlemaps import googlemaps
from datetime import datetime

In [138]:
data_path = 'los-angeles-parking-citations/parking-citations.csv'
df2 = pd.read_csv(data_path, header=0, sep=',', quotechar='"', skiprows=9427528)
#
# skiprows=9470000
#nrows=10

In [139]:
df2.columns =["ticket_number","issue_date",'issue_time','meter_id','marked_time','rp_state_plate','plate_expiry_date','vin','make','body_style','color','location','route','agency','violation_code','violation_description','fine_amount','latitude','longitude']

In [140]:
df2['date'] = pd.to_datetime(df2['issue_date'], errors ='coerce')

In [141]:
df2.sort_values(by=['date'])
df2.shape

(49999, 20)

In [142]:
time_mask = (df2['date'] < '2019-06-02') & (df2['date'] > '2019-05-24')

In [143]:
df2 = df2[time_mask]
df2.shape

(28376, 20)

In [131]:
df2.sort_values(by=['date'])# df2.shape

,ticket_number,issue_date,issue_time,meter_id,marked_time,rp_state_plate,plate_expiry_date,vin,make,body_style,color,location,route,agency,violation_code,violation_description,fine_amount,latitude,longitude,date
22081,1121888316,2019-05-25T00:00:00,1620.0,NaN,NaN,CA,202006.0,NaN,CHEV,PA,RE,1155 SANTEE,NaN,1.0,8056E4,RED ZONE,93.0,9.999900e+04,9.999900e+04,2019-05-25
21842,1121247982,2019-05-25T00:00:00,1341.0,NaN,NaN,CA,202002.0,NaN,HOND,PA,SI,16208 PARTHENIA ST,17A95,1.0,5200A,DSPLYPLATE A,25.0,6.414971e+06,1.905851e+06,2019-05-25
21841,1121247971,2019-05-25T00:00:00,1232.0,NaN,NaN,CA,201801.0,NaN,DODG,PA,GY,19611 PARTHENIA ST,17A95,1.0,4000A1,NO EVIDENCE OF REG,50.0,9.999900e+04,9.999900e+04,2019-05-25
21840,1121247960,2019-05-25T00:00:00,1050.0,NaN,NaN,WA,201901.0,NaN,CHEV,PA,BK,SCHOENBORN E/O GOTHI,17A95,1.0,4000A1,NO EVIDENCE OF REG,50.0,9.999900e+04,9.999900e+04,2019-05-25
21839,1121247956,2019-05-25T00:00:00,930.0,NaN,NaN,CA,201911.0,NaN,JEEP,PA,BK,17270 DEVONSHIRE ST,17A95,1.0,5200A,DSPLYPLATE A,25.0,9.999900e+04,9.999900e+04,2019-05-25
21838,1121247945,2019-05-25T00:00:00,900.0,NaN,NaN,CA,201808.0,NaN,HOND,PA,PU,PETIT S/O CHATSWORTH,17A95,1.0,4000A1,NO EVIDENCE OF REG,50.0,9.999900e+04,9.999900e+04,2019-05-25
21837,1121247934,2019-05-25T00:00:00,905.0,NaN,NaN,NV,202005.0,NaN,FORD,PA,SI,PETIT S/O CHATSWORTH,17A95,1.0,5200A,DSPLYPLATE A,25.0,9.999900e+04,9.999900e+04,2019-05-25
21843,1121247993,2019-05-25T00:00:00,1430.0,NaN,NaN,CA,202002.0,NaN,FORD,TR,GY,21340 DEVONSHIRE ST,17A95,1.0,225078C1,HANDICAP/ON LINE,363.0,6.381572e+06,1.916529e+06,2019-05-25
21836,1121247923,2019-05-25T00:00:00,855.0,NaN,NaN,CA,201812.0,NaN,MITS,PA,RE,16329 CHATSWORTH ST,17A95,1.0,4000A1,NO EVIDENCE OF REG,50.0,6.414181e+06,1.919063e+06,2019-05-25
21816,1121185774,2019-05-25T00:00:00,1425.0,NaN,NaN,CA,201904.0,NaN,BMW,PA,BK,421 NORTON AVE,20FB4,1.0,000,5204A1,NaN,9.999900e+04,9.999900e+04,2019-05-25
21815,1121185306,2019-05-25T00:00:00,1603.0,NaN,NaN,CA,NaN,NaN,HOND,PA,GR,SAN MARINO W/O VERMO,NaN,1.0,5200A,DSPLYPLATE A,25.0,9.999900e+04,9.999900e+04,2019-05-25
21814,1121185295,2019-05-25T00:00:00,1600.0,NaN,NaN,CA,NaN,NaN,CHEV,TR,GY,SAN MARINO/CATALINA,NaN,1.0,5200A,DSPLYPLATE A,25.0,9.999900e+04,9.999900e+04,2019-05-25
21813,1121185284,2019-05-25T00:00:00,1503.0,NaN,NaN,CA,201902.0,NaN,LEXS,PA,TA,NORTON S/O 5TH,NaN,1.0,5204A,EXPIRED TAGS,25.0,9.999900e+04,9.999900e+04,2019-05-25
21812,1121185273,2019-05-25T00:00:00,1500.0,NaN,NaN,CA,201903.0,NaN,BMW,PA,GY,NORTON N/O 5TH,NaN,1.0,5204A,EXPIRED TAGS,25.0,9.999900e+04,9.999900e+04,2019-05-25
21811,1121185262,2019-05-25T00:00:00,1458.0,NaN,NaN,CA,NaN,NaN,BMW,PA,GO,NORTON S/O 4TH,NaN,1.0,5200A,DSPLYPLATE A,25.0,9.999900e+04,9.999900e+04,2019-05-25
21817,1121185785,2019-05-25T00:00:00,355.0,NaN,NaN,CA,201810.0,NaN,PLYM,PA,SI,CATALINA & OLYMPIC,20FB4,1.0,000,5204A1,NaN,6.472384e+06,1.841673e+06,2019-05-25
21810,1121185251,2019-05-25T00:00:00,1455.0,NaN,NaN,CA,201901.0,NaN,TOYO,PA,RE,NORTON S/O 4TH,NaN,1.0,5204A,EXPIRED TAGS,25.0,9.999900e+04,9.999900e+04,2019-05-25
21873,1121348266,2019-05-25T00:00:00,930.0,NaN,NaN,CA,201810.0,NaN,TAOT,MC,BL,LINCOLN BL/FLOWER CT,23MQ5,1.0,4000A1,NO EVIDENCE OF REG,50.0,9.999900e+04,9.999900e+04,2019-05-25
22005,1121448801,2019-05-25T00:00:00,2250.0,NaN,NaN,CA,201908.0,NaN,FORD,PA,WH,NEW HAMPSHIRE/COUNCI,02016,1.0,8061,STNDNG IN ALLEY,68.0,9.999900e+04,9.999900e+04,2019-05-25
22079,1121888294,2019-05-25T00:00:00,1610.0,NaN,NaN,CA,201911.0,NaN,LEXS,PA,SI,1121 S MAPLE,NaN,1.0,8056E4,RED ZONE,93.0,9.999900e+04,9.999900e+04,2019-05-25
22078,1121888283,2019-05-25T00:00:00,1605.0,NaN,NaN,CA,201909.0,NaN,NISS,PA,GY,1000 S MAPLE,NaN,1.0,8056E4,RED ZONE,93.0,9.999900e+04,9.999900e+04,2019-05-25
22077,1121888272,2019-05-25T00:00:00,1600.0,NaN,NaN,CA,201910.0,NaN,TOYO,PA,GY,945 S MAPLE,NaN,1.0,8056E4,RED ZONE,93.0,9.999900e+04,9.999900e+04,2019-05-25
22076,1121888261,2019-05-25T00:00:00,1555.0,NaN,NaN,CA,201906.0,NaN,CADI,PA,RE,439 E 9TH,NaN,1.0,8056E4,RED ZONE,93.0,9.999900e+04,9.999900e+04,2019-05-25
820,4356232425,2019-05-25T00:00:00,1933.0,YO70,NaN,CA,201909.0,NaN,HYUN,PA,WT,5042 YORK BL,00610,56.0,88.13B+,METER EXP.,63.0,6.499327e+06,1.866590e+06,2019-05-25
819,4356232414,2019-05-25T00:00:00,1931.0,NaN,NaN,CA,201908.0,NaN,HOND,PA,WT,5054 YORK BLVD,00610,56.0,80.56E4+,RED ZONE,93.0,6.499405e+06,1.866572e+06,2019-05-25
22004,1121444052,2019-05-25T00:00:00,830.0,NaN,NaN,CA,201906.0,NaN,HOND,PA,BL,VERMONT AV/12TH ST,20A13,1.0,8056E4,RED ZONE,93.0,9.999900e+04,9.999900e+04,2019-05-25
22062,1121663233,2019-05-25T00:00:00,1130.0,NaN,NaN,CA,201307.0,NaN,CHEV,NaN,WH,16625 ESTRELLA AVE,18SL9,1.0,4000A1,NO EVIDENCE OF REG,50.0,9.999900e+04,9.999900e+04,2019-05-25
22060,1121663211,2019-05-25T00:00:00,1110.0,NaN,NaN,CA,201901.0,NaN,CHEV,NaN,WH,ESTRELLA AVE N/OF GA,18SL9,1.0,4000A1,NO EVIDENCE OF REG,50.0,9.999900e+04,9.999900e+04,2019-05-25
22023,1121541912,2019-05-25T00:00:00,2012.0,NaN,NaN,CA,201903.0,NaN,TOYO,PA,BL,2200 YOSEMITE DR,11A17,1.0,4000A1,NO EVIDENCE OF REG,50.0,9.999900e+04,9.999900e+04,2019-05-25
22022,1121541901,2019-05-25T00:00:00,2004.0,NaN,NaN,CA,201901.0,NaN,LEXU,SU,GY,2200 FAIR PARK AVE,11A17,1.0,4000A1,NO EVIDENCE OF REG,50.0,6.496602e+06,1.872000e+06,2019-05-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28123,4355817152,2019-06-01T00:00:00,29.0,NaN,NaN,CA,201906.0,NaN,HOND,PA,GY,4700 ADAMS BLVD,506C,51.0,5200,DISPLAY OF PLATES,25.0,6.457784e+06,1.834405e+06,2019-06-01
28122,4355817141,2019-06-01T00:00:00,28.0,NaN,NaN,CA,201906.0,NaN,HOND,PA,GY,4700 ADAMS BLVD,506C,51.0,80.56E4+,RED ZONE,93.0,6.457784e+06,1.834405e+06,2019-06-01
28121,4355817130,2019-06-01T00:00:00,26.0,NaN,NaN,CA,201909.0,NaN,CHEV,PA,RD,2610 PALM GROVE AVE,506C,51.0,80.56E4+,RED ZONE,93.0,9.999900e+04,9.999900e+04,2019-06-01
29997,4356574342,2019-06-01T00:00:00,2232.0,81,NaN,CA,202002.0,NaN,TOYT,PA,BL,11300 WOODBRIDGE ST,00300,53.0,80.58L,PREFERENTIAL PARKING,68.0,6.447661e+06,1.876659e+06,2019-06-01
28116,4355399134,2019-06-01T00:00:00,132.0,NaN,NaN,CA,201906.0,NaN,FORD,PA,WT,2038 BUTLER AVE,502B,51.0,5200,DISPLAY OF PLATES,25.0,6.426530e+06,1.836776e+06,2019-06-01
28115,4355399123,2019-06-01T00:00:00,131.0,49,NaN,CA,201906.0,NaN,FORD,PA,WT,2038 BUTLER AVE,502B,51.0,80.58L,PREFERENTIAL PARKING,68.0,6.426530e+06,1.836776e+06,2019-06-01
28135,4356002781,2019-06-01T00:00:00,135.0,NaN,NaN,CA,201808.0,NaN,FORD,VN,WT,20831 HARVARD BLVD,500,55.0,22500B,PARKED IN CROSSWALK,68.0,6.468567e+06,1.764871e+06,2019-06-01
28136,4356002792,2019-06-01T00:00:00,140.0,NaN,NaN,VN,NaN,NaN,NISS,PA,SL,1603 207TH ST,500,55.0,80.56E4+,RED ZONE,93.0,6.468547e+06,1.765345e+06,2019-06-01
28137,4356168261,2019-06-01T00:00:00,32.0,172,NaN,CA,201902.0,NaN,HYUN,PA,WT,1300 ORANGE DR S,506A,51.0,80.54H1,OVNIGHT PRK W/OUT PE,68.0,6.456893e+06,1.841018e+06,2019-06-01
28138,4356168272,2019-06-01T00:00:00,36.0,172,NaN,AZ,202002.0,NaN,BMW,PA,RD,1336 SYCAMORE AVE S,506A,51.0,80.54H1,OVNIGHT PRK W/OUT PE,68.0,6.456348e+06,1.840417e+06,2019-06-01
28345,4354095723,2019-06-01T00:00:00,2321.0,191,NaN,CA,202003.0,NaN,ACUR,PA,BK,2118 ELSINORE ST,403A,54.0,80.58L,PREFERENTIAL PARKING,68.0,6.481879e+06,1.850973e+06,2019-06-01
28344,4354095712,2019-06-01T00:00:00,2314.0,191,NaN,CA,201907.0,NaN,JEEP,PA,BK,1119 HYPERION AVE N,403A,54.0,80.58L,PREFERENTIAL PARKING,68.0,6.477109e+06,1.856064e+06,2019-06-01
28279,4353563911,2019-06-01T00:00:00,2337.0,201,NaN,CA,201904.0,NaN,CHEV,PA,BK,5965 LEXINGTON AVE,402A,54.0,80.58L,PREFERENTIAL PARKING,68.0,6.464981e+06,1.856229e+06,2019-06-01
28278,4353563900,2019-06-01T00:00:00,2334.0,201,NaN,CA,202001.0,NaN,HOND,PA,GY,1147 BEACHWOOD DR N,402A,54.0,80.58L,PREFERENTIAL PARKING,68.0,6.464424e+06,1.855875e+06,2019-06-01
28152,4356292371,2019-06-01T00:00:00,133.0,NaN,NaN,CA,201810.0,NaN,TOYT,PA,RD,2600 HARBOR ST,501,51.0,5204A-,DISPLAY OF TABS,25.0,9.999900e+04,9.999900e+04,2019-06-01
28151,4356292360,2019-06-01T00:00:00,127.0,NaN,NaN,CA,202005.0,NaN,VOLK,PA,BK,2510 CANAL CT,501,51.0,80.69B,NO PARKING,73.0,9.999900e+04,9.999900e+04,2019-06-01
28150,4356168390,2019-06-01T00:00:00,117.0,NaN,NaN,CA,201912.0,NaN,LEXS,PA,BK,1500 5TH AVE S,506A,51.0,80.56E4+,RED ZONE,93.0,9.999900e+04,9.999900e+04,2019-06-01
28149,4356168386,2019-06-01T00:00:00,112.0,NaN,NaN,CA,201908.0,NaN,FORD,PA,WT,1305 6TH AVE,506A,51.0,80.69B,NO PARKING,73.0,6.420289e+06,1.819884e+06,2019-06-01
29010,4355484000,2019-06-01T00:00:00,1835.0,EN1052,NaN,CA,201910.0,NaN,HOND,PA,BL,4700 WOODLEY AV,00310,53.0,88.13B+,METER EXP.,63.0,6.415356e+06,1.879640e+06,2019-06-01
28148,4356168375,2019-06-01T00:00:00,111.0,NaN,NaN,CA,201906.0,NaN,TOYT,PA,WT,1305 6TH AVE,506A,51.0,80.69B,NO PARKING,73.0,6.420289e+06,1.819884e+06,2019-06-01
28146,4356168353,2019-06-01T00:00:00,110.0,NaN,NaN,CA,201804.0,NaN,DODG,PA,GO,1305 6TH AVE,506A,51.0,80.69B,NO PARKING,73.0,6.420289e+06,1.819884e+06,2019-06-01
28145,4356168342,2019-06-01T00:00:00,100.0,36,NaN,CA,201908.0,NaN,KIA,PA,WT,5314 8TH ST W,506A,51.0,80.54H1,OVNIGHT PRK W/OUT PE,68.0,6.457174e+06,1.844589e+06,2019-06-01
28144,4356168331,2019-06-01T00:00:00,55.0,36,NaN,CA,201909.0,NaN,HOND,PA,BK,5600 8TH ST W,506A,51.0,80.54H1,OVNIGHT PRK W/OUT PE,68.0,6.455307e+06,1.844640e+06,2019-06-01
28143,4356168320,2019-06-01T00:00:00,51.0,36,NaN,CA,202005.0,NaN,GMC,PA,WT,924 RIDGELEY DR,506A,51.0,80.54H1,OVNIGHT PRK W/OUT PE,68.0,6.455062e+06,1.843906e+06,2019-06-01
28142,4356168316,2019-06-01T00:00:00,48.0,36,NaN,CA,201905.0,NaN,MERZ,PA,BK,917 RIDGELEY DR,506A,51.0,80.54H1,OVNIGHT PRK W/OUT PE,68.0,6.455077e+06,1.843951e+06,2019-06-01
28141,4356168305,2019-06-01T00:00:00,44.0,36,NaN,CA,201906.0,NaN,MERZ,PA,WT,941 RIDGELEY DR,506A,51.0,80.54H1,OVNIGHT PRK W/OUT PE,68.0,6.455032e+06,1.843817e+06,2019-06-01
28140,4356168294,2019-06-01T00:00:00,39.0,NaN,NaN,CA,201901.0,NaN,HOND,PA,GY,1339 SYCAMORE AVE S,506A,51.0,5204A-,DISPLAY OF TABS,25.0,6.456343e+06,1.840403e+06,2019-06-01
28139,4356168283,2019-06-01T00:00:00,38.0,172,NaN,CA,201901.0,NaN,HOND,PA,GY,1339 SYCAMORE AVE S,506A,51.0,80.54H1,OVNIGHT PRK W/OUT PE,68.0,6.456343e+06,1.840403e+06,2019-06-01
28147,4356168364,2019-06-01T00:00:00,111.0,NaN,NaN,CA,201804.0,NaN,DODG,PA,GO,1305 6TH AVE,506A,51.0,5204A-,DISPLAY OF TABS,25.0,6.420289e+06,1.819884e+06,2019-06-01
29998,4356574353,2019-06-01T00:00:00,2243.0,81,NaN,CA,NaN,NaN,BMW,PA,GY,11400 WOODBRIDGE ST,00300,53.0,80.58L,PREFERENTIAL PARKING,68.0,6.447002e+06,1.876661e+06,2019-06-01

In [75]:
df2['date'] = pd.to_datetime(df2['issue_date'], errors ='coerce')

In [214]:
# df.columns = df.columns.str.strip().str.lower()
# df.columns = df.columns.str.replace(" ","_")

In [40]:
# - name columns

# df.columns =["ticket_number","issue_date",'issue_time','meter_id','marked_time','rp_state_plate','plate_expiry_date','vin','make','body_style','color','location','route','agency','violation_code','violation_description','fine_amount','latitude','longitude']

In [43]:
# - create new column, convert to datetime
# df['date'] = pd.to_datetime(df['issue_date'], errors ='coerce')

In [41]:
# - create time

df['time'] = df['issue_time']

# - drop null times
# df = df[np.isfinite(df['time'])]
# df.head()

,ticket_number,issue_date,issue_time,meter_id,marked_time,rp_state_plate,plate_expiry_date,vin,make,body_style,color,location,route,agency,violation_code,violation_description,fine_amount,latitude,longitude,time
0,4355697570,2019-05-30T00:00:00,858.0,NaN,NaN,CA,202002.0,NaN,TOYT,PU,BN,11720 ARMINTA ST,00351,53.0,80.69BS,NO PARK/STREET CLEAN,73.0,6.444195e+06,1.900452e+06,858.0
1,4355697581,2019-05-30T00:00:00,901.0,NaN,NaN,CA,201905.0,NaN,STRN,PA,RD,11720 ARMINTA ST,00351,53.0,80.69BS,NO PARK/STREET CLEAN,73.0,6.444195e+06,1.900452e+06,901.0
2,4355697592,2019-05-30T00:00:00,909.0,NaN,NaN,CA,202002.0,NaN,HOND,PA,BK,10834 CANTLAY ST,00351,53.0,80.69BS,NO PARK/STREET CLEAN,73.0,6.450719e+06,1.896169e+06,909.0
3,4355697603,2019-05-30T00:00:00,910.0,NaN,NaN,CA,201910.0,NaN,NISS,PA,RD,10802 CANTLAY ST,00351,53.0,80.69BS,NO PARK/STREET CLEAN,73.0,9.999900e+04,9.999900e+04,910.0
4,4355697614,2019-05-30T00:00:00,946.0,NaN,NaN,CA,201911.0,NaN,BMW,PA,GY,10802 RIVERSIDE DR,00351,53.0,80.56E4+,RED ZONE,93.0,9.999900e+04,9.999900e+04,946.0

In [49]:
# # df.shape
# time_mask = (df['date'] < '2019-06-02') & (df['date'] > '2019-05-17')
# df_mask = df[time_mask].sort_values(by=['date'], ascending = False)

In [57]:
# df = df_mask
# df.shape

(8171, 21)

In [153]:
df2['weekday'] = df2['date'].dt.dayofweek

In [149]:
df2['weekday_name'] = df2['date'].dt.day_name()

In [150]:
df2.shape

(28376, 21)

In [32]:
# df.drop(['time'], axis=1)

In [160]:
df2.head()

,ticket_number,issue_date,issue_time,meter_id,marked_time,rp_state_plate,plate_expiry_date,vin,make,body_style,...,agency,violation_code,violation_description,fine_amount,latitude,longitude,date,weekday_name,weekday,address
19040,4353633012,2019-05-25T00:00:00,39.0,NaN,NaN,PA,NaN,NaN,HYUN,PA,...,56.0,80.56E1,WHITE ZONE,58.0,6.485235e+06,1.839348e+06,2019-05-25,Saturday,5,"620 BROADWAY S, Los Angeles, CA"
19041,4353633023,2019-05-25T00:00:00,41.0,NaN,NaN,CA,201911.0,NaN,BMW,PA,...,56.0,80.56E1,WHITE ZONE,58.0,6.485235e+06,1.839348e+06,2019-05-25,Saturday,5,"620 BROADWAY S, Los Angeles, CA"
19042,4353633034,2019-05-25T00:00:00,42.0,NaN,NaN,CA,201907.0,NaN,DODG,PA,...,56.0,80.56E1,WHITE ZONE,58.0,6.485235e+06,1.839348e+06,2019-05-25,Saturday,5,"620 BROADWAY S, Los Angeles, CA"
19043,4353633045,2019-05-25T00:00:00,48.0,NaN,NaN,CA,202001.0,NaN,DODG,PA,...,56.0,80.56E4+,RED ZONE,93.0,6.485202e+06,1.838707e+06,2019-05-25,Saturday,5,"210 7TH ST W, Los Angeles, CA"
19044,4353633056,2019-05-25T00:00:00,51.0,NaN,NaN,CA,202001.0,NaN,VOLV,PA,...,56.0,80.56E4+,RED ZONE,93.0,6.489688e+06,1.844424e+06,2019-05-25,Saturday,5,"724 SPRING ST S, Los Angeles, CA"

In [156]:
# - turning location and time into a string for modification

df2 = df2.astype({"location": str, 'issue_date':str}) #skiprows=9470000

In [235]:

df = df.astype({'time': str})

In [236]:
# - strip the end string for additional modification

df["time"] = df.time.str.rstrip('.0')

In [237]:
# - time 

def time_edits(x):
    if len(x) == 2:
        return x + '0'
#     elif len(x) == 3:
#         return '0' + x
#     else:
        return x

df["time"]= df["time"].apply(time_edits)

In [53]:
# - turn time back into string

# df = df.astype({'time': int})
# df.head()

## add LA to address

In [157]:
df2['address'] = df2.apply(lambda row: row[11] + ", Los Angeles, CA", axis = 1)

## check for heterogeneity

In [158]:
df2['ticket_number'].is_unique

True

## final shape

In [159]:
df2.shape

(28376, 23)

## google api

In [161]:
# from pprint import pprint

# pprint(geocode_result[0]['address_components'])

import googlemaps
from datetime import datetime

gmaps = googlemaps.Client(key='')

geocode_result = []
# address_check = []


def google_zipcodes_api(address):
    geocode_address_result = gmaps.geocode(address)
    geocode_result.append(geocode_address_result)
#     address_check.append(address)

df2["address"].apply(google_zipcodes_api)

19040    None
19041    None
19042    None
19043    None
19044    None
19045    None
19046    None
19047    None
19048    None
19049    None
19050    None
19051    None
19052    None
19053    None
19054    None
19055    None
19056    None
19057    None
19058    None
19059    None
19060    None
19061    None
19062    None
19063    None
19064    None
19065    None
19066    None
19067    None
19068    None
19069    None
         ...
49969    None
49970    None
49971    None
49972    None
49973    None
49974    None
49975    None
49976    None
49977    None
49978    None
49979    None
49980    None
49981    None
49982    None
49983    None
49984    None
49985    None
49986    None
49987    None
49988    None
49989    None
49990    None
49991    None
49992    None
49993    None
49994    None
49995    None
49996    None
49997    None
49998    None
Name: address, Length: 28376, dtype: object

In [246]:
df_update = df2
df2.shape

(28376, 23)

In [269]:
# geocode_result[165:170]

In [253]:

df_update = df_update.reset_index(drop=True)

In [259]:
df_update[26413:26415]

,ticket_number,issue_date,issue_time,meter_id,marked_time,rp_state_plate,plate_expiry_date,vin,make,body_style,...,agency,violation_code,violation_description,fine_amount,latitude,longitude,date,weekday_name,weekday,address
26413,4355654015,2019-05-31T00:00:00,1232.0,NaN,NaN,CO,NaN,NaN,VOLK,PA,...,54.0,80.56E1,WHITE ZONE,58.0,9.999900e+04,9.999900e+04,2019-05-31,Friday,4,"760 LEELAND, Los Angeles, CA"
26414,4355654026,2019-05-31T00:00:00,1236.0,NaN,NaN,VA,202001.0,NaN,FORD,PA,...,54.0,80.69BS,NO PARK/STREET CLEAN,73.0,6.473740e+06,1.844293e+06,2019-05-31,Friday,4,"695 SHATTO PL, Los Angeles, CA"

In [162]:
import pickle

with open('geocode_result_full.pkl', 'wb') as f:
    pickle.dump(geocode_result, f)

In [231]:
# - Neighborhood

neighborhood_list = []
neighborhood_except = []

def geocode_results_process_neighborhood(x):         
    for i in range(len(x)):
        try:
            list_component_neighborhood = x[i][0]['address_components']
#         for dct in list_component_neighborhood:
            nhood_dict = list_component_neighborhood[2]['long_name']
            neighborhood_list.append(nhood_dict)
        except IndexError:
            neighborhood_except.append(i)
            continue

#             if 'neighborhood' in dct['types'] != None:
#                 neighborhood = dct['long_name']
#                 neighborhood_list.append(neighborhood)
#                 print(i, neighborhood)
#             else:
#                 neighborhood = "Unknown"
#                 neighborhood_list.append(neighborhood)
#                 print(i, neighborhood)
        
geocode_results_process_neighborhood(geocode_result)

In [261]:
print(neighborhood_except)
print(bad_indexes)
geocode_result[26414]

[166, 167, 3870, 6602, 22856, 23999, 26413, 27528]
[166, 167, 3870, 6602, 22856, 23999, 26413, 27528]

[{'address_components': [{'long_name': '695',
    'short_name': '695',
    'types': ['street_number']},
   {'long_name': 'Shatto Place',
    'short_name': 'Shatto Pl',
    'types': ['route']},
   {'long_name': 'Mid City',
    'short_name': 'Mid City',
    'types': ['neighborhood', 'political']},
   {'long_name': 'Los Angeles',
    'short_name': 'Los Angeles',
    'types': ['locality', 'political']},
   {'long_name': 'Los Angeles County',
    'short_name': 'Los Angeles County',
    'types': ['administrative_area_level_2', 'political']},
   {'long_name': 'California',
    'short_name': 'CA',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': 'United States',
    'short_name': 'US',
    'types': ['country', 'political']},
   {'long_name': '90005', 'short_name': '90005', 'types': ['postal_code']}],
  'formatted_address': '695 Shatto Pl, Los Angeles, CA 90005, USA',
  'geometry': {'location': {'lat': 34.0602622, 'lng': -118.2904288},
   'location_type': 'ROOFTOP',
   'viewport': {'northeast': {'lat': 34.06161118029149,
     'lng': -118.2890798197085},
    'southwest': {'lat': 34.05891321970849, 'lng': -118.2917777802915}}},
  'place_id': 'ChIJXXIbn3nHwoARRx9I-nnY7a4',
  'plus_code': {'compound_code': '3P65+4R Los Angeles, California, United States',
   'global_code': '85633P65+4R'},
  'types': ['street_address']}]

In [194]:
# # -- from stack overflow

# def geocode_results_process(x):
#     lat_long_list = []
#     for list_item in x:
#         for item in list_item:
#             latitude= item['geometry']['location']['lat']
#             longitude = item['geometry']['location']['lat']
#             lat_long_list.append("{},{}".format(latitude, longitude))

In [228]:
# geocode_result[160][0]['geometry']['location']['lat']
lat_long_list = []
bad_indexes = []

def geocode_results_process(x):         

    for i in range(len(x)):
        try:
            list_component = x[i][0]['geometry']['location']
            for val in list_component:
                latitude = list_component['lat']
            for val in list_component:
                longitude = list_component['lng']
            latlong = str(latitude) + ',' + str(longitude)
            lat_long_list.append(latlong)
        except IndexError:
            bad_indexes.append(i)
            continue

geocode_results_process(geocode_result)


# geocode_results_process(geocode_result)
# geocode_result[160][0]['geometry']['location']

## drop rows for join

In [262]:
df_update = df_update.drop([df_update.index[166], df_update.index[167], 
                            df_update.index[3870], df_update.index[6602],df_update.index[22856]
                            ,df_update.index[23999],df_update.index[26413],df_update.index[27528]])

In [264]:
df_update.shape

(28368, 23)

In [195]:
# df.head()
# df.drop(columns=['long_google', 'lat_google'])
# df.info()

## Join lat - long to table

In [265]:
df_update['lat_long_list'] = lat_long_list

In [266]:
df_update[['lat_google','long_google']] = df_update['lat_long_list'].str.split(',',expand=True)

In [267]:
# - convert new lat - long into float
df_update['lat_google'] = df_update['lat_google'].astype(float)
df_update['long_google'] = df_update['long_google'].astype(float)

# result = search.by_coordinates(34.0554475, -118.2763928, radius=10, returns=5)

In [270]:
df_update['neighborhood'] = neighborhood_list

In [271]:
df_update.shape

(28368, 27)

In [273]:
import pickle

with open('df_with_geocode_result.pkl', 'wb') as f:
    pickle.dump(df_update, f)

In [274]:
from uszipcode import Zipcode
# from __future__ import print_function
from uszipcode import SearchEngine, SimpleZipcode, Zipcode

In [275]:
zipcode_list = []
population_list = []
population_density_list = []
housing_units_list = []
occupied_housing_list = []
median_home_value_list = []
median_household_income_list = []

search = SearchEngine(simple_zipcode=True)

def find_zip(x):
        result = search.by_coordinates(x.lat_google, x.long_google, radius=10, returns=5)
        first_result = result[0]
#         pp.pprint(first_result)
    # - zipcode
        zipcode = first_result.zipcode
        zipcode_list.append(zipcode)
    # - population
        population = first_result.population
        population_list.append(population)
    # - population_density
        population_density = first_result.population_density
        population_density_list.append(population_density)
    # - housing units
        housing_units = first_result.housing_units
        housing_units_list.append(housing_units)
    # - occupied_housing_units
        occupied_housing_units = first_result.occupied_housing_units
        occupied_housing_list.append(occupied_housing_units)
    # - median home value
        median_home_value = first_result.median_home_value
        median_home_value_list.append(first_result.median_home_value)
    # - median household income
        median_household_income = first_result.median_household_income
        median_household_income_list.append(median_household_income)
    
df_update.apply(find_zip, axis=1)
# zipcode_list, population_list, population_density_list, housing_units_list, occupied_housing_list, median_home_value_list, median_household_income_list

0        None
1        None
2        None
3        None
4        None
5        None
6        None
7        None
8        None
9        None
10       None
11       None
12       None
13       None
14       None
15       None
16       None
17       None
18       None
19       None
20       None
21       None
22       None
23       None
24       None
25       None
26       None
27       None
28       None
29       None
         ...
28346    None
28347    None
28348    None
28349    None
28350    None
28351    None
28352    None
28353    None
28354    None
28355    None
28356    None
28357    None
28358    None
28359    None
28360    None
28361    None
28362    None
28363    None
28364    None
28365    None
28366    None
28367    None
28368    None
28369    None
28370    None
28371    None
28372    None
28373    None
28374    None
28375    None
Length: 28368, dtype: object

In [276]:
df_update["zipcode"] = zipcode_list
df_update["population"] = population_list
df_update["population_density"] = population_density_list
df_update["housing_units"] = housing_units_list
df_update["occupied_housing"]= occupied_housing_list
df_update["median_home_value"] = median_home_value_list
df_update["median_household_income"] = median_household_income_list

In [277]:
df_update.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28368 entries, 0 to 28375
Data columns (total 34 columns):
ticket_number              28368 non-null int64
issue_date                 28368 non-null object
issue_time                 28364 non-null float64
meter_id                   6148 non-null object
marked_time                731 non-null float64
rp_state_plate             28368 non-null object
plate_expiry_date          25704 non-null float64
vin                        0 non-null float64
make                       28356 non-null object
body_style                 28358 non-null object
color                      28367 non-null object
location                   28368 non-null object
route                      28299 non-null object
agency                     28368 non-null float64
violation_code             28368 non-null object
violation_description      28366 non-null object
fine_amount                28358 non-null float64
latitude                   28368 non-null float64
longitude                  28368 non-null float64
date                       28368 non-null datetime64[ns]
weekday_name               28368 non-null object
weekday                    28368 non-null int64
address                    28368 non-null object
lat_long_list              28368 non-null object
lat_google                 28368 non-null float64
long_google                28368 non-null float64
neighborhood               28368 non-null object
zipcode                    28368 non-null object
population                 28368 non-null int64
population_density         28170 non-null float64
housing_units              28368 non-null int64
occupied_housing           28368 non-null int64
median_home_value          27969 non-null float64
median_household_income    27969 non-null float64
dtypes: datetime64[ns](1), float64(13), int64(5), object(15)
memory usage: 7.6+ MB

In [72]:
# find_zip(df4['lat_google'], df4['long_google'])
# housing_units
# occupied_housing_units
# median_home_value
# median_household_income
# housing_type
# year_housing_was_built
# housing_occupancy
# vancancy_reason
# owner_occupied_home_values
# rental_properties_by_number_of_rooms
# monthly_rent_including_utilities_studio_apt
# monthly_rent_including_utilities_1_b
# monthly_rent_including_utilities_2_b
# monthly_rent_including_utilities_3plus_b
# Employment, Income, Earnings, and Work

# employment_status
# average_household_income_over_time
# household_income
# annual_individual_earnings
# sources_of_household_income____percent_of_households_receiving_income
# sources_of_household_income____average_income_per_household_by_income_source
# household_investment_income____percent_of_households_receiving_investment_income
# household_investment_income____average_income_per_household_by_income_source
# household_retirement_income____percent_of_households_receiving_retirement_incom
# household_retirement_income____average_income_per_household_by_income_source
# source_of_earnings
# means_of_transportation_to_work_for_workers_16_and_over
# travel_time_to_work_in_minutes
# Education

# educational_attainment_for_population_25_and_over
# school_enrollment_age_3_to_17

In [73]:
# df4.info()


# from __future__ import print_function
# from uszipcode import SearchEngine, SimpleZipcode, Zipcode

# search = SearchEngine(simple_zipcode=True)
# res = search.by_coordinate(34.0554475, -118.2763928, radius=10, returns=5)

# # res = search.by_coordinate(34.0554475, -118.2763928, radius=1)
# res

In [ ]:
# - there's something funky with the lat-long! 
# - LA records the lat-long in Lambert conformal conic projection format
# - this converts weird CA coordinate systems
# - goal result ~ 34.0522 N, 118.2437 W

inProj=pyproj.Proj("+proj=lcc +lat_1=34.03333333333333 +lat_2=35.46666666666667 +lat_0=33.5 +lon_0=-118 +x_0=2000000 +y_0=500000.0000000002 +ellps=GRS80 +datum=NAD83 +to_meter=0.3048006096012192 +no_defs")
outProj=pyproj.Proj(init="EPSG:4326")


df['long_lat'] = df.apply(lambda row: transform(
    inProj,outProj,row[17],row[18]), axis = 1)

In [ ]:
# - don't touch Katherine
# - base code for figuring out long-lat transformation

inProj=pyproj.Proj("+proj=lcc +lat_1=34.03333333333333 +lat_2=35.46666666666667 +lat_0=33.5 +lon_0=-118 +x_0=2000000 +y_0=500000.0000000002 +ellps=GRS80 +datum=NAD83 +to_meter=0.3048006096012192 +no_defs")
outProj=pyproj.Proj(init="EPSG:4326")

x1,y1 = (6439997.9, 1802686.4)
x2,y2 = transform(inProj,outProj,x1,y1)

print(round(y2,7), round(x2,7))
# round(number[, ndigits])

In [365]:
# import googlemaps
# from datetime import datetime

# gmaps = googlemaps.Client(key='')

# # Geocoding an address
# geocode_result = gmaps.geocode('13147 WELBY WAY, Los angeles, CA')
# geocode_result

In [366]:
# from pprint import pprint

# # pprint(geocode_result[0]['address_components'])

# # zipcodes = []
# # add_comp = geocode_result[0]['address_components']
# # add_comp2 = geocode_result[0][0]['geometry']['location']
# add_comp3 = geocode_result[0]['address_components']

# # add_comp2

# lat_list = []
# long_list = []
# zipcodes = []

# # for dct in add_comp2:
# #     if 'location' in dct['lat']:
# #         lat = dct['short_name']
# #         lat_list.append(zipcode)
# #     elif 'location' in dct['long']:
# #         long = dct['short_name']
# #         long_list.append(long)


# # for dict_item in geocode_result:
# #     for geocode_result[0][0]['geometry']['location'] in dict_item:
# #         print(geocode_result[0][0]['geometry']['location'])
        
# # df["zipcode"] = zipcodes

# # use iterrows for iterating through rows in df -- 
# # for idx, row in df.iterrows():
# geocode_result

# # dataList = [{'a': 1}, {'b': 3}, {'c': 5}]
# # for dic in dataList:
# #     for key in dic:
# #         print(dic[key]

# # def get_value(geocode_result, address_components):
# #     for dct in address_compnents:
# #         if 'postal_code' in dct['types']:
# #             zipcode = dct['short_name']
# #             zipcodes.append(zipcode)

# def get_value(geocode_result, add_comp3):
#     for dic in add_comp3:
#         if 'postal_code' in dic['types']:
#             zipcode = dic['short_name']
#             zipcodes.append(zipcode)

In [113]:
# zipcodes = []
# def get_value(geocode_result, address_components):
#     for dct in address_components:
#         if 'postal_code' in dct['types']:
#             zipcode = dct['short_name']
#             zipcodes.append(zipcode)
        
# for dct in add_comp:
#     if 'postal_code' in dct['types']:
#         zipcode = dct['short_name']
#         zipcodes.append(zipcode)

In [120]:
import csv

with open(data_path) as fp:
    reader = csv.reader(fp)
    nrows = sum(1 for _ in reader)

In [121]:
nrows

9477528

In [122]:
nrows - 30000

9447528

In [278]:
# - business patterns

# - https://census.gov/data/datasets/2016/econ/cbp/2016-cbp.html
# = https://www2.census.gov/programs-surveys/cbp/technical-documentation/records-layouts/combined-record-layout/record_layout.txt?#

business_data_path = 'los-angeles-parking-citations/zbp16totals.txt'
business_char_df = pd.read_csv(business_data_path, header=0, sep=',', quotechar='"')


# def lookup_prod(ip):
#     for row in df2.itertuples():
#         if ip in row[1]:
#             return row[2]
#     else:
#         return 'N/A'

# df1['AttrName'] = df1['Product'].apply(lookup_prod)

In [279]:
business_char_df.head()

,zip,name,empflag,emp_nf,emp,qp1_nf,qp1,ap_nf,ap,est,city,stabbr,cty_name
0,501,"HOLTSVILLE, NY",B,D,0,D,0,D,0,2,HOLTSVILLE,NY,SUFFOLK
1,1001,"AGAWAM, MA",NaN,G,9127,G,88685,G,376492,472,AGAWAM,MA,HAMPDEN
2,1002,"AMHERST, MA",NaN,H,18894,G,109167,G,472633,564,AMHERST,MA,HAMPSHIRE
3,1003,"AMHERST, MA",NaN,G,288,H,2371,G,10461,21,AMHERST,MA,HAMPSHIRE
4,1004,"AMHERST, MA",NaN,H,193,H,1335,H,5915,14,AMHERST,MA,HAMPSHIRE

In [280]:
business_char_df.columns =["zipcode_business", "city_name", "emp_flag"
                           ,"employment_noiseflag","cbp_employees","q1_noiseflag"
                           ,"q1_payroll_thousands","annual_payroll_noiseflag"
                           ,"annual_payroll_thousands","cbp_number_establishments"
                           ,"city","state","city_name"]

In [205]:
business_char_df.head()

,zipcode_business,city_name,emp_flag,employment_noiseflag,cbp_employees,q1_noiseflag,q1_payroll_thousands,annual_payroll_noiseflag,annual_payroll_thousands,cbp_number_establishments,city,state,city_name
0,501,"HOLTSVILLE, NY",B,D,0,D,0,D,0,2,HOLTSVILLE,NY,SUFFOLK
1,1001,"AGAWAM, MA",NaN,G,9127,G,88685,G,376492,472,AGAWAM,MA,HAMPDEN
2,1002,"AMHERST, MA",NaN,H,18894,G,109167,G,472633,564,AMHERST,MA,HAMPSHIRE
3,1003,"AMHERST, MA",NaN,G,288,H,2371,G,10461,21,AMHERST,MA,HAMPSHIRE
4,1004,"AMHERST, MA",NaN,H,193,H,1335,H,5915,14,AMHERST,MA,HAMPSHIRE

In [206]:
df3 = df2

In [215]:
df3.columns = df3.columns.str.strip()

In [281]:
df_update['zipcode'] = df_update['zipcode'].astype(int)

In [282]:
business_char_df['zipcode_business'] = business_char_df['zipcode_business'].astype(int)

In [283]:
business_char_df.rename(columns={"zipcode_business": "zipcode"}, inplace=True)

business_char_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38722 entries, 0 to 38721
Data columns (total 13 columns):
zipcode                      38722 non-null int64
city_name                    38722 non-null object
emp_flag                     4984 non-null object
employment_noiseflag         38722 non-null object
cbp_employees                38722 non-null int64
q1_noiseflag                 38722 non-null object
q1_payroll_thousands         38722 non-null int64
annual_payroll_noiseflag     38722 non-null object
annual_payroll_thousands     38722 non-null int64
cbp_number_establishments    38722 non-null int64
city                         38721 non-null object
state                        38721 non-null object
city_name                    38721 non-null object
dtypes: int64(5), object(8)
memory usage: 3.8+ MB

In [233]:

# -- this works!

# lat_long_list = []
# def geocode_results_process(x):         
#     for i in range(len(x)):
#         list_component = x[i][0]['geometry']['location']
#         for val in list_component:
#             latitude = list_component['lat']
#         for val in list_component:
#             longitude = list_component['lng']
#         latlong = str(latitude) + ',' + str(longitude)
#         lat_long_list.append(latlong)

# geocode_results_process(geocode_result)

In [284]:


result_df = pd.merge(df_update, business_char_df, on=['zipcode'])

In [286]:
result_df[2500:2510]

,ticket_number,issue_date,issue_time,meter_id,marked_time,rp_state_plate,plate_expiry_date,vin,make,body_style,...,employment_noiseflag,cbp_employees,q1_noiseflag,q1_payroll_thousands,annual_payroll_noiseflag,annual_payroll_thousands,cbp_number_establishments,city,state,city_name
2500,4355706272,2019-05-30T00:00:00,823.0,NaN,NaN,CA,202003.0,NaN,TOYT,PU,...,G,29812,G,340700,G,1456674,2608,LOS ANGELES,CA,LOS ANGELES
2501,4355706401,2019-05-30T00:00:00,908.0,VW622,NaN,CA,202001.0,NaN,TOYT,PA,...,G,29812,G,340700,G,1456674,2608,LOS ANGELES,CA,LOS ANGELES
2502,4355706412,2019-05-30T00:00:00,910.0,NaN,NaN,CA,201911.0,NaN,TOYT,PA,...,G,29812,G,340700,G,1456674,2608,LOS ANGELES,CA,LOS ANGELES
2503,4355706482,2019-05-30T00:00:00,1009.0,NaN,NaN,TX,202004.0,NaN,NISS,PA,...,G,29812,G,340700,G,1456674,2608,LOS ANGELES,CA,LOS ANGELES
2504,4355706493,2019-05-30T00:00:00,1012.0,NaN,NaN,SD,202002.0,NaN,MERZ,PA,...,G,29812,G,340700,G,1456674,2608,LOS ANGELES,CA,LOS ANGELES
2505,4355706504,2019-05-30T00:00:00,1014.0,NaN,NaN,CA,201906.0,NaN,VOLV,PA,...,G,29812,G,340700,G,1456674,2608,LOS ANGELES,CA,LOS ANGELES
2506,4355706515,2019-05-30T00:00:00,1017.0,NaN,NaN,CA,201905.0,NaN,VOLV,PA,...,G,29812,G,340700,G,1456674,2608,LOS ANGELES,CA,LOS ANGELES
2507,4355706526,2019-05-30T00:00:00,1019.0,NaN,NaN,CA,201907.0,NaN,TOYT,PA,...,G,29812,G,340700,G,1456674,2608,LOS ANGELES,CA,LOS ANGELES
2508,4355706530,2019-05-30T00:00:00,1022.0,NaN,NaN,CA,201912.0,NaN,NISS,PA,...,G,29812,G,340700,G,1456674,2608,LOS ANGELES,CA,LOS ANGELES
2509,4355706633,2019-05-30T00:00:00,1050.0,NaN,NaN,CA,201909.0,NaN,TOYT,PA,...,G,29812,G,340700,G,1456674,2608,LOS ANGELES,CA,LOS ANGELES

In [85]:
import pickle

In [288]:
with open('complete_data_join.pkl', 'wb') as f:
    pickle.dump(result_df, f)
    
# https://www.youtube.com/watch?v=oD4IvH-Talo

In [ ]:
# create var employee density